<div class="tab-inner">
    <ul class="tabs">
        <li><a href="#">Les + POPULAIRES</a></li>
        <li><a href="#">LES + VUES</a></li>
    </ul>
    <hr>
    <!-- tabs -->
    <div class="tab_content">
        <div class="tab-item-inner">
        {% for post in site.posts limit: 4 %}
            <div class="box-item">
                <div class="img-thumb">
                    <a href="{{ post.url }}" rel="bookmark"><img class="entry-thumb" src="/actubi{{ post.main_img }}" alt="" height="80" width="90"></a>
                </div>
                <div class="item-details">
                    <h6 class="sub-category-title bg-color-1">
                            <a href="{{ post.url }}">{{ post.rubriques }}</a>
                        </h6>
                    <h3 class="td-module-title"><a href="{{ post.url }}">{{ post.title  | slice: 0, 50}} ...</a></h3>
                    <div class="post-editor-date">
                        <!-- post date -->
                        <div class="post-date">
                            <i class="pe-7s-clock"></i> {{ post.date | date: "%b %d, %y" }}
                        </div>
                        <!-- post comment -->
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <!-- / tab item -->
        <div class="tab-item-inner">
        {% for post in site.posts limit: 4 offset:5 %}
            <div class="box-item">
                <div class="img-thumb">
                    <a href="{{ post.url }}" rel="bookmark"><img class="entry-thumb" src="/actubi{{ post.main_img }}" alt="" height="80" width="90"></a>
                </div>
                <div class="item-details">
                    <h6 class="sub-category-title bg-color-5">
                            <a href="{{ post.url }}">{{ post.rubriques }}</a>
                        </h6>
                    <h3 class="td-module-title"><a href="#">{{ post.title | slice: 0, 50}} ...</a></h3>
                    <div class="post-editor-date">
                        <!-- post date -->
                        <div class="post-date">
                            <i class="pe-7s-clock"></i> {{ post.date | date: "%b %d, %y" }}
                        </div>
                        <!-- post comment -->
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <!-- / tab item -->
    </div>
    <!-- / tab_content -->
</div>