<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="content">
                    <div class="post-thumb">
                        <img src="{{ page.main_img }}" class="img-responsive post-image" alt="">
                        <div style="margin-top: 10px;">
                            <ul>
                                <div class="fb-like" data-href="https://www.facebook.com/Actubicom-1597282660369524/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

                                <div class="fb-share-button" data-href="{{ page.url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | url_encode }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>                               
                            </ul>
                        </div>
                        <!-- /.social icon -->
                    </div>
                    <h1>{{ page.title }}</h1><br><br>
                    <div class="date">
                        <ul>
                            <li>Par <a title="" href="#"><span>{{ page.auteurs }}</span></a> --</li>
                            <li><a title="" href="#"> {{ page.date | date: "%b %d, %y" }}</a></li>
                            <!-- <li><span><span class="fb-comments-count" data-href="page.url"></span> Comments</span></li>-->
                        </ul>
                    </div>
                    <div class="post-inner">
                        {{ page.content }}
                    </div>

                    <!--

                    {% if page.video != empty %}
                    <div class="videoWrapper">
                        <iframe width="560" height="349" src="{{ page.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    {% endif %}

                    -->


                    <!-- tags -->
                    <div class="tags">
                    	<h3 class="category-headding ">TAGS</h3>
                        <div class="headding-border"></div>
                        <ul>
                        	{% for tag in page.tags %}
                            <li> <a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Related news area
                        ============================================ -->
                    {% if site.related_posts.size >= 1 %}
                    <div class="related-news-inner">
                        <h3 class="category-headding ">A VOIR AUSSI</h3>
                        <div class="headding-border"></div>
                        <div class="row">
                            <div id="content-slide-5" class="owl-carousel">
                                <!-- item-1 -->
                                <div class="item">
                                    <div class="row rn_block">
                                     {% for related_post in site.related_posts limit: 3 %}

                                    
                                        <div class="col-xs-12 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper wow fadeIn" data-wow-duration="2s">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                    <a href="{{ related_post.url }}">
                                                        <img class="" src="{{ related_post.main_img }}" alt="" width="214px" height="126px">
                                                    </a>
                                                </div>
                                                <div class="post-info meta-info-rn">
                                                    <div class="slide">
                                                        <a target="_blank" href="{{ related_post.url }}" class="post-badge btn_five">{{ related_post.rubriques }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{{ related_post.url }}">{{ related_post.title | slice: 0, 45}} </a></h4>
                                                <div class="post-editor-date">
                                                    <div class="post-date">
                                                        <i class="pe-7s-clock"></i>{{ related_post.date | date: "%b %d, %y" }}
                                                    </div>
                                                    <div class="post-author-comment"><i class="pe-7s-comment"></i> 13 </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <!-- item-2 -->
                                {% if site.related_posts.size >= 4 %}
                                <div class="item">
                                    <div class="row rn_block">
                                     {% for related_post in site.related_posts limit: 3 offset: 4 %}

                                    
                                        <div class="col-xs-12 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper wow fadeIn" data-wow-duration="2s">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                    <a href="{{ related_post.url }}">
                                                        <img class="" src="{{ related_post.main_img }}" alt="" width="214px" height="126px">
                                                    </a>
                                                </div>
                                                <div class="post-info meta-info-rn">
                                                    <div class="slide">
                                                        <a target="_blank" href="{{ related_post.url }}" class="post-badge btn_five">{{ related_post.rubriques }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{{ related_post.url }}">{{ related_post.title | slice: 0, 45}} </a></h4>
                                                <div class="post-editor-date">
                                                    <div class="post-date">
                                                        <i class="pe-7s-clock"></i>{{ related_post.date | date: "%b %d, %y" }}
                                                    </div>
                                                    <div class="post-author-comment"><i class="pe-7s-comment"></i> 13 </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- comment box
                        ============================================ -->
                    <div class="comments-container">
                        <h3 class="category-headding ">LAISSER UN COMMENTAIRE</h3>
                        <div class="headding-border"></div>
                        <div class="fb-comments" data-href="{{ page.url | absolute_url  }}"  data-width="684" data-numposts="5"></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-4 left-padding">
                <aside class="sidebar">
                    <div class="input-group search-area">
                        <!-- search area -->
                        <input type="text" class="form-control" placeholder="Trouver un article ..." name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!-- /.search area -->
                    <div class="banner-add">
                        <!-- add -->
                        <span class="add-title">- Advertisement -</span>
                        <a href="#"><img src="/images/ad-banner.jpg" class="img-responsive center-block" alt=""></a>
                    </div>
                    {% include most_popular.html %}
                    <!-- / tab -->
                    <!-- comments -->
                    {% include sidebar_facebook.html %}
                    <!-- slider widget -->
                    {% include sidebar_category.html %}
                </aside>
            </div>
        </div>
    </div>