<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>
    <!--<div class="se-pre-con"></div>-->
    {% include header.html %}
    <!-- news feed Area
        ============================================ -->
    {% include a_la_une.html %}
    <div class="container">
        <div class="row">
            {% include left_content.html %}
            <!-- /.left content inner -->
            {% include side_content.html%}
            <!-- side content end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    
    <!-- second content -->
    {% include second_content.html %}
    <!-- second content end -->
    
    {% include third_content.html %}
    <!-- footer Area
        ============================================ -->
    {% include footer.html %}
    
</body>

</html>
